<h2>Login</h2>

<%= form_with model: @user, local: true do |form| %>
  <div class="user-box">
    <%= form.label "session por Fone" %>
    <%= form.text_field :phone, class: "form-control"%>
  </div>

  
  <div class="actions">
    <%= form.submit "Log In", class: "btn btn-success"%>
  </div>
<% end %>