<% if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="login-box">  
  <%= render 'sign' %>
</div>
  
<div>

  <%= link_to 'Não tem uma conta?', new_user_path, class:"btn btn-primary button-end-middle" %>
</div>
