<div class="login-box">
  
  <% if notice %>
    <%= notice %>
  <% end %>
  
  <%= render 'sign' %>
</div>
  
<div>
  <%= link_to 'Novo usuario', new_user_path, class:"btn btn-primary" %>
</div>
