// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box-child{
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 400px;
    padding: 40px;
    color: #fff;
    background-color: #2D3F51;
    border-radius: 12px;
}

.button-end-middle{
    display: flex;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.login-box h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5%;
    color: #fff;
    text-align: center;
}

.alert{
    width: 200px;
    height: 80px;
}