// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//842121
//b51d1d


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: rgb(16, 16, 16);
    background-clip: border-box;
}
//db3232
//3c9082