<div class="container center" >
    <%= link_to 'Perfil', user_path(current_user), class: "btn btn-dark" %>
    <%= link_to 'Editar meus Dados', edit_user_path(current_user), class: "btn btn-dark" %>
    <%= link_to 'List To Do', to_dos_index_path, class: "btn btn-dark" %>
</div>

